.App {
  text-align: center;
}

.App-logo {
  height: 45px;
}

.App-header {
  background-color: #02B875;
  height: 50px;
  padding: 5px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
