ul{
  list-style-type: none;
  padding:10px;
}
.list_row{
  margin-top: 3px;
  padding-top:  10px;
  padding-bottom: 5px;
  text-align: left;
  background-color: white;
  border:1px solid #dddfe2;
}
.common_margin{
  margin: 15px;
}
.grey_text{
  color:#666;
  font-size: 12
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
