@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
}
.float-right{
  position: relative;
  float: right;
  padding-right: 5px;
}
.padding-top{
 padding-top: 5px;
}
.green{
  color : #02B875;
}

.bg_green{
  color : #02B875;
}

