.profile_img_wrap{
  text-align: right;
  border-radius: 50%;
  display: inline;
  float: right;
}
.profile_img{
  border-radius: 50%;
  height: 35px;
  padding: 5px;
}
.profile_name{
  padding-right: 10px;
  float: right;
  margin-top: 17px;
}
